<a href="https://colab.research.google.com/github/cja5553/national_park_visitation_analysis_w_mobile_phone_data/blob/main/src/features/filtering_POIs/step_4_structuring_visitation_records/structuring_park_visitation_records.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import neccessary libraries

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import DataFrame
import math
import numpy
from statistics import *
from numpy import nan
import json

Mount google drive and read the csv file

In [ ]:
# Make suitable changes here. My .csv file is in :  My Drive/Colab Notebooks
from google.colab import drive
drive.mount("/content/drive/")
%cd 'national_park_visitation_analysis_w_mobile_phone_data/volume/data/interim/filtered_pois/covid_era_classification/aggragated_count.csv'
!pwd #Prints the present working directory
data = pd.read_csv('aggragated_count.csv')

Mounted at /content/drive/
/content/drive/My Drive/RTPM496/National Park Research/Park_visitation_national
/content/drive/My Drive/RTPM496/National Park Research/Park_visitation_national

drop columns with no vistitation records

In [ ]:
data = data[data.visitor_daytime_cbgs != "{}"]
data = data[data['visitor_daytime_cbgs'].notna()]
data=data.drop(["Unnamed: 0"], axis=1)
data.to_csv("aggragated_count.csv")
data.head()

                    safegraph_place_id  ... covid_era
0  sg:12aaf44341a94b9c9cc3aeea1a6320ef  ...      True
1  sg:1317ddfafdcf4cd5bea26540310e2e1c  ...      True
2  sg:1ad959f392d94b2b98de6c3cb1daee6c  ...      True
3  sg:1b00083e0efa4083afa60d632725d097  ...      True
4  sg:1ce28a31e37d479b84654e822f98b6eb  ...      True

[5 rows x 14 columns]

reset variables to and re-read the file with dropped rows

In [ ]:
%reset
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import DataFrame
import math
import numpy
from statistics import *
from numpy import nan
import json
data = pd.read_csv('aggragated_count.csv')
data

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

      Unnamed: 0  ... covid_era
0              0  ...      True
1              1  ...      True
2              2  ...      True
3              3  ...      True
4              4  ...      True
...          ...  ...       ...
1669        1669  ...     False
1670        1670  ...     False
1671        1671  ...     False
1672        1672  ...     False
1673        1673  ...     False

[1674 rows x 15 columns]

re-format "visitor_daytime_cbgs" into a dictionary.

In [ ]:
safegraph_place_id=data["safegraph_place_id"]

In [ ]:
d=data["visitor_daytime_cbgs"]
def removing_oldStr(d):
  oldStrs=["\"\"\"\"\"\"\"\"","\"\"\"\"\"\"\"","\"\"\"\"\"\"","\"\"\"\"\"","\"\"\"\"","\"\"\"","\"\""]
  newStr="\""
  d_new=[]
  for i in range(0,len(d)):
    x=d[i]
    if oldStrs[0] in x:
      x=x.replace(oldStrs[0], newStr)
      d_new.append(x)
    elif oldStrs[1] in x:
      x=x.replace(oldStrs[1], newStr)
      d_new.append(x)
    elif oldStrs[2] in x:
      x=x.replace(oldStrs[2], newStr)
      d_new.append(x)
    elif oldStrs[3] in x:
      x=x.replace(oldStrs[3], newStr)
      d_new.append(x)
    elif oldStrs[4] in x:
      x=x.replace(oldStrs[4], newStr)
      d_new.append(x)
    elif oldStrs[5] in x:
      x=x.replace(oldStrs[5], newStr)
      d_new.append(x)
    else:
      d_new.append(x)
  return d_new
d_new=removing_oldStr(list(d))

In [ ]:
data["visitor_daytime_cbgs"]=d_new

In [ ]:
def string_to_dict(dict_string):
    # Convert to proper json format
    dict_string = dict_string.replace("'", '"')
    return json.loads(dict_string)

data.visitor_daytime_cbgs = data.visitor_daytime_cbgs.apply(string_to_dict)
d=data["visitor_daytime_cbgs"]

Extract records from the dictionary and place them structurally with each row containing each unique visitation record containing number of visitations to each park from each unique census block group.

In [ ]:
ordered_list_of_id=[]
for i in range(0,(len(d))):
  for n in range(0, (len(d[i]))):
    ordered_list_of_id.append(safegraph_place_id[i])

In [ ]:
census_block_list=[]
for i in range(0,(len(d))):
  #x=d[i]
  #safe_graph_id_for_this=safegraph_place_id[i]
  for n in range(0, (len(d[i]))):
    #whole_dict_element=list((d[i]).items())[n]
    key_element=list(d[i])[n]
    #new_key=key_element+safegraph_place_id[i]
    #(d[i])[new_key] = (d[i]).pop(key_element)
    # print(key_element)
    census_block_list.append(key_element)

census_block_list[1:10]

['120860041051',
 '240317008173',
 '060855043162',
 '120860130002',
 '060371081032',
 '130510108032',
 '240054087021',
 '170978646021',
 '120860005012']

In [ ]:
census_block_values=[]
for i in range(0,(len(d))):
  #x=d[i]
  #safe_graph_id_for_this=safegraph_place_id[i]
  for n in range(0, (len(d[i]))):
    #whole_dict_element=list((d[i]).items())[n]
    key_element=list(d[i])[n]
    #new_key=key_element+safegraph_place_id[i]
    #(d[i])[new_key] = (d[i]).pop(key_element)
    #print(key_element)
    val=(d[i]).get(key_element)
    census_block_values.append(val)

In [ ]:
def theforloop(d, wanted_list):
  list1=[]
  for i in range(0, (len(d))):
    for n in range(0, (len(d[i]))):
      val=wanted_list[i]
      list1.append(val)
  return (list1)

In [ ]:
start=data["date_range_start"]
end=data["date_range_end"]
starting_dates_list=theforloop(d,start)

In [ ]:
ending_dates_list=theforloop(d,end)

In [ ]:
#len(ending_dates_list)==len(starting_dates_list)
len(ending_dates_list)==len(census_block_values)

True

Include and subset only relevant data into our dataset

In [ ]:
def to_include_relevant_data(d, wanted_list):
  list2=[]
  for i in range(0,(len(d))):
    for n in range(0, (len(d[i]))):
      val=wanted_list[i]
      list2.append(val)
  return (list2)

In [ ]:
start_dates_list=to_include_relevant_data(d,data["date_range_start"])
ending_dates_list=to_include_relevant_data(d,data["date_range_end"])
location_list=to_include_relevant_data(d,data["location_name"])
PARK_list=to_include_relevant_data(d,data["PARKNAME"])
latitude_list=to_include_relevant_data(d,data["latitude"])
longitude_list=to_include_relevant_data(d,data['longitude'])

In [ ]:
len(longitude_list)==len(PARK_list)

True

In [ ]:
our_data=pd.DataFrame()
our_data["vistor_census_block"]=census_block_list
our_data["visitor_count"]=census_block_values
our_data["safegraph_place_id"]=ordered_list_of_id
our_data["date_range_start"]=starting_dates_list
our_data["date_range_end"]=ending_dates_list
our_data["location_name"]=location_list
our_data["PARKNAME"]=PARK_list
our_data["park_latitude"]=latitude_list
our_data["park_longitude"]=longitude_list
our_data

       vistor_census_block  visitor_count  ... park_latitude park_longitude
0             481130141311              5  ...      25.76064     -80.581096
1             120860041051              5  ...      25.76064     -80.581096
2             240317008173              4  ...      25.76064     -80.581096
3             060855043162              4  ...      25.76064     -80.581096
4             120860130002              4  ...      25.76064     -80.581096
...                    ...            ...  ...           ...            ...
222874        530579511001              4  ...      48.53843    -121.448100
222875        530330303064              4  ...      48.53843    -121.448100
222876        530579511001              4  ...      48.53843    -121.448100
222877        530579511001              4  ...      48.53843    -121.448100
222878        530579511001              4  ...      48.53843    -121.448100

[222879 rows x 9 columns]

In [ ]:
our_data.to_csv('national_park_visitation_analysis_w_mobile_phone_data/volume/data/interim/filtered_pois/structuring_park_visitation_records/visitation_records.csv')