
Import neccessary pacakges

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import DataFrame
import math
import numpy
from statistics import *
from numpy import nan

Read the race data

In [3]:
# Make suitable changes here. My .csv file is in :  My Drive/Colab Notebooks
from google.colab import drive
drive.mount("/content/drive/")
%cd '/content/drive/My Drive/RTPM496/National Park Research/Income_and_race'
!pwd #Prints the present working directory
racedata = pd.read_csv('race.csv')
racedata.head()

Mounted at /content/drive/
/content/drive/My Drive/RTPM496/National Park Research/Income_and_race
/content/drive/My Drive/RTPM496/National Park Research/Income_and_race

      Geo_FIPS  total.population  ...  two.or.more.estimate  hispanic
0  10010201001               730  ...                    57         7
1  10010201002              1263  ...                    97        19
2  10010202001               835  ...                    31        30
3  10010202002              1124  ...                    25         0
4  10010203001              2774  ...                    81       233

[5 rows x 11 columns]

Calculate the percent of minority (percent of non-white)

In [4]:
minorityportion = 1-(racedata['race.white.alone.estimate'].astype(float)/racedata['total.population'].astype(float))
minorityportion = minorityportion.astype(float)
racedata["minorityportion"]=minorityportion

percent_black = (racedata['african.american.alone.estimate'].astype(float)/racedata['total.population'].astype(float))
percent_black = percent_black.astype(float)
racedata["percent_black"]=percent_black

percent_indian=(racedata['american.indian.alaskan.native.estimate'].astype(float)/racedata['total.population'].astype(float))
percent_indian=percent_indian.astype(float)
racedata["percent_indian"]=percent_indian

percent_asian = (racedata['asian.estimate'].astype(float)/racedata['total.population'].astype(float))
percent_asian = percent_asian.astype(float)
racedata["percent_asian"]=percent_asian


percent_hispanic=(racedata['hispanic'].astype(float)/racedata['total.population'].astype(float))
percent_hispanic=percent_hispanic.astype(float)
racedata["percent_hispanic"]=percent_hispanic

racedata.head()

      Geo_FIPS  total.population  ...  percent_asian  percent_hispanic
0  10010201001               730  ...       0.000000          0.009589
1  10010201002              1263  ...       0.001584          0.015044
2  10010202001               835  ...       0.000000          0.035928
3  10010202002              1124  ...       0.000000          0.000000
4  10010203001              2774  ...       0.011536          0.083994

[5 rows x 16 columns]

Write the dataset

In [5]:
racedata.to_csv('race.csv')