
Import neccessary pacakges

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import DataFrame
import math
import numpy
from statistics import *
from numpy import nan

Read the race data

In [ ]:
# Make suitable changes here. My .csv file is in :  My Drive/Colab Notebooks
from google.colab import drive
drive.mount("/content/drive/")
%cd '/content/drive/My Drive/RTPM496/National Park Research/Income_and_race'
!pwd #Prints the present working directory
racedata = pd.read_csv('race.csv')
racedata.head()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/My Drive/RTPM496/National Park Research/Income_and_race
/content/drive/My Drive/RTPM496/National Park Research/Income_and_race

      Geo_FIPS  total.population  ...  other.race.alone  two.or.more.estimate
0  10010201001               730  ...                 0                    57
1  10010201002              1263  ...                 0                    97
2  10010202001               835  ...                 0                    31
3  10010202002              1124  ...                 6                    25
4  10010203001              2774  ...               233                    81

[5 rows x 9 columns]

Calculate the percent of minority (percent of non-white)

In [ ]:
minorityportion = 1-(racedata['race.white.alone.estimate'].astype(float)/racedata['total.population'].astype(float))
minorityportion = minorityportion.astype(float)
racedata["minorityportion"]=minorityportion
racedata.head()

      Geo_FIPS  total.population  ...  two.or.more.estimate  minorityportion
0  10010201001               730  ...                    57         0.160274
1  10010201002              1263  ...                    97         0.151227
2  10010202001               835  ...                    31         0.669461
3  10010202002              1124  ...                    25         0.570285
4  10010203001              2774  ...                    81         0.327325

[5 rows x 10 columns]

Write the dataset

In [ ]:
racedata.to_csv('race.csv')